input[type=text] {
	width: 60px;
	background-color: #282c34;
	border: 1px solid;
	color: #98c379;
	font-size: large;
	text-align: center;
}

a {
	color: white;
}

hr {
	border: 1px solid #212327;
	width: 7%;
}
button {
	color:#fff;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	font-size:24px;
	outline: none;
	background-color: #98c379;
	font-family: monospace;
	border: none;
	border-radius:5px;
	box-shadow: 0 4px #95a5a6;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 10px;
}
button:hover{
	background-color: #2ecc71;
}

button:active{
	background-color: #2ecc71;
	box-shadow: 0 0px #95a5a6;
	transform: translateY(4px);
}

body {
	text-align: center;
	background-color: #282c34;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.katex {
	background-color: #212327;
	padding: 10px;
	font-size: 21pt !important;
}